<!DOCTYPE html>
<html>

<head>
	<title>TADS Atividade Desenvolvimento Web 2022-2</title>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="css/reset.css" type="text/css">
	<link rel="stylesheet" href="css/style.css" type="text/css">
</head>

<body>
	<div class="principal">
		<h1 class="titulo">Listagem e Inclusao de Musicas</h1>
	</div>
	<div class="corpo">	
		<h2>TADS Atividade Desenvolvimento Web 2022-2 - Turma A</h2>

		<p>Nome completo: <strong>Paola Soares Gomes</strong></p>

		<p>Observacoes:<br />
			<em style="color: #aaa">Obrigada pela oportunidade.</em>
		</p>
		<button class="index">
			<a href="/musicas">Listagem das musicas</a>
		</button>
		</p>
	</div >

	<footer>
		<p class="copyringht">©copyringht Desenvolvimento web - 2022</p>
	</footer>
</body>

</html>